// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
p > .fa-regular {
  font-size: 3rem;
  color: #0d6efd;
  position: relative;
  z-index: 5;
  &:hover {
    cursor: pointer;
    color: green;
  }
}
.counter {
  font-style: normal;
}

.select {
  color: #dc3545 !important;
}
#container {
  position: relative;
}
.img-animate {
  position: absolute;
  top: 10px;
  left: 20px;
}
img {
  max-width: 200px;
}
#btn-shifumi {
  position: relative;
  z-index: 5;
}